@font-face {
  font-family: "Rasal";
  src: url(../src/assets/font/RASCAL__.TTF);
}

@import "tailwindcss";

/* 🌿 Default Apple-like font */
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

/* 🎀 Decorative font */
.font-rasal {
  font-family: "Rasal", sans-serif;
}

button {
  cursor: pointer;
}

@layer utilities {
  .animate-shake {
    animation: shake 1s ease-in-out infinite;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
}
